@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");

body {
  max-width: 2304px;
  margin: auto;
}

* {
  font-family: "Happy Monkey", sans-serif;
}

h2 {
  font-size: 64px;
  color: cornflowerblue;
}

p {
  max-width: 578px;
}

.form-side {
  max-width: 851px;
  position: relative;
  top: 47px;
}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid cornflowerblue;
  border-radius: 4px;
}

input[type="email"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid cornflowerblue;
  border-radius: 4px;
}

input[type="tel"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid cornflowerblue;
  border-radius: 4px;
}

.message-area {
  border: 2px solid cornflowerblue;
  border-radius: 4px;
}

button {
  padding: 10px 10px;
  background-color: cornflowerblue;
  border: 2px solid black;
  border-radius: 6px;
}

.section1 {
  display: inline-block;
}
