@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");

body {
  max-width: 2304px;
  margin: auto;
  background-color: beige;
}

* {
  font-family: "Happy Monkey", sans-serif;
}

h2 {
  font-size: 64px;
  color: cornflowerblue;
}

p {
  max-width: 578px;
}

.form-side {
  max-width: 851px;
  position: relative;
  top: 47px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom: 3px solid cornflowerblue;
  border-radius: 4px;
}

.message-area {
  border-bottom: 3px solid cornflowerblue;
  border-radius: 4px;
}

button {
  padding: 10px 10px;
  background-color: cornflowerblue;
  border: 2px solid black;
  border-radius: 6px;
}

button:hover {
  background-color: black;
  color: white;
}

.section-sides {
  display: inline-block;
  position: relative;
  top: 50px;
  left: 50px;
}

.img-woman {
  position: relative;
  left: 50px;
  border: 2px solid;
  border-color: beige;
  border-radius: 50%;
}
